@using KidsApi.Models.Requests
@model TaskRequest
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-body">
            <h4 class=" mb-2 text-center">Tasks ⏳ </h4>
            @*                         <p class="text-center">Let Your kids dashboard be more intersting 🧸 </p>
            *@
            <form id="formAuthentication" class="mb-3" asp-action="AddTask" method="post">
                <div class="mb-3">
                    <label for="TaskType" class="form-label">Tasks </label>
                    <input type="text"
                           class="form-control"
                           id="tasktype"
                           value="@Model.TaskType"
                           name="TaskType"
                           placeholder="Enter your kids tasks"
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="ChildId" class="form-label">Child</label>
                    <select class="form-control" id="child" name="childId" required>
                        <option value="">Choose Child</option>
                        @foreach (var child in ViewBag.Children)
                        {
                            <option value="@child.Value">@child.Text</option>
                        }
                    </select>
                    @* <input type="text"
                           class="form-control"
                           id="ChildId"
                           value="@Model.ChildId"
                           name="ChildId"
                           placeholder="Child name "
                           autofocus /> *@
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <input type="text"
                           class="form-control"
                           id="Description"
                           value="@Model.Description"
                           name="Description"
                           placeholder=""
                           autofocus />
                </div>
                <div class="mb-3">
                    <label for="Date" class="form-label">Date</label>
                    <!-- Use input type="date" for date selection -->
                    <input type="date"
                           class="form-control"
                           id="Date"
                           value="@Model.Date"
                           name="Date"
                           placeholder="Date "
                           autofocus />
                </div>

                <div class="mb-3">
                    <label for="Points" class="form-label">Points</label>
                    <input type="text"
                           class="form-control"
                           id="Points"
                           value="@Model.Points"
                           name="child"
                           placeholder="Requierd Points "
                           autofocus />
                </div>
                <div class="text-center">
                    <button class="btn btn-sm btn-outline-primary" type="submit">Add Tasks</button>
                </div>
            </form>


        </div>
    </div>
</div>
