@using KidsApi.Models.Responses
@model ChildAccountResponce

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class=" mb-2 "> @Model.Username</h4>

    <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-9">
                </div>
                <div class="col-3">
                <a href="/ParentDashBoard/EditChildDetails" class="btn btn-sm btn-outline-primary">Edit Profile </a>
            </div>
            </div>
             <div class="accordion-body">Username: @Model.Username</div>
             <div class="accordion-body">Baiti Account Number: @Model.BaitiAccountNumber  </div>
             <div class="accordion-body">Saving: @Model.SavingsAccountNumber </div>
             <div class="accordion-body">Points: @Model.Points</div>
        </div>

    </div>
    
    <h4 class=" mb-2 "> Rewards</h4>
    @foreach (var reward in ViewBag.rewards)
    {
        <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-9">
                </div>
               
            </div>
                <div class="accordion-body"> 🧸 @reward.Description    </div>
                <div class="accordion-body"> 🧸 @reward.RewardType     </div>


        </div>

    </div>
    }

    <h4 class=" mb-2 "> Tasks</h4>
    @foreach (var task in ViewBag.tasks)
    {
        <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-9">
                </div>

            </div>
                <div class="accordion-body">🌟 @task.Date       </div>
                <div class="accordion-body">🌟 @task.Description</div>
                <div class="accordion-body">🌟 @task.TaskType   </div>


        </div>

    </div>
    }
</div>
